* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #80d4ea;
  color: #fff;
  font-family: monospace, monospace;
  min-height: 100vh;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
}

#clock,
#weekDay {
  font-size: 6.25rem;
  text-align: center;
}

@media (max-width: 767px) {
  #clock,
  #weekDay {
    font-size: 4.5rem;
  }
}

@media (max-width: 376px) {
  #clock,
  #weekDay {
    font-size: 3rem;
  }
}

